div{
    height:200px;
    width:200px;
<<<<<<< HEAD
    border:2px solid black;
    background-color: greenyellow;
    padding:10px;
=======
    border:5px solid black;
    background-color: blueviolet;
    margin:10px;
>>>>>>> feature1
}
html{
    border:5px solid red;
}
body{
<<<<<<< HEAD
    border:5px solid green;
}
div{
    margin:10px;
=======
    border:5px solid rgb(250, 79, 108);
>>>>>>> feature1
}